<p>
  @for (link of tournament.config.links | keyvalue; track link.key; let i = $index) {
    @if (i > 0) {
      |
    }
    <a href="{{ link.value }}">{{ link.key }}</a>
  }
</p>

<div>
  <!-- Tooltip on a span as disabled buttons don't support tooltips. -->
  <span [ngbTooltip]="this.mayOpenRegistration ? null : 'Anmeldeschluss verstrichen'" placement="bottom">
    <button (click)="openRegistration()" [disabled]="!mayOpenRegistration" type="button" class="btn btn-primary">
      <span class="dashicons dashicons-plus" style="vertical-align: bottom"></span>
      Anmelden
    </button>
  </span>
</div>

@for (player of registeredPlayers; track $index) {
  <div class="alert alert-success mt-3">
    {{player.playerData.name}} wurde angemeldet
  </div>
}

<ul ngbNav #tabs="ngbNav" [(activeId)]="activeTab" class="nav-tabs mt-4" [class.d-none]="!isManager">
	<li [ngbNavItem]="1">
		<button ngbNavLink>Übersicht</button>
		<ng-template ngbNavContent>
      @if (tournament.groups.size == 1) {
        @let group = tournament.groups.values().next().value!;
        @if (group.players.length) {
          <h4>Anmeldungen</h4>
          <div class="text-muted mt-1" style="font-style: italic">
            @if (group.availableSlots != this.INFINITY) {
              {{ group.players.length }} {{ group.players.length != 1 ? 'Anmeldungen' : 'Anmeldung' }}, {{ group.availableSlots }} {{ group.availableSlots != 1 ? 'freie Plätze' : 'freier Platz' }}
            } @else {
              {{ group.players.length }} {{ group.players.length != 1 ? 'Anmeldungen' : 'Anmeldung' }}
            }
          </div>
          <nsv-table [options]="overviewTableOptions" [data]="group!.players"></nsv-table>
        } @else {
          <div class="alert alert-warning">
            Noch keine Anmeldungen
          </div>
        }
      } @else {
        <div ngbAccordion [closeOthers]="true">
          @for (group of tournament!.groups.values(); track group.id) {
            @if (!group.config.hidden || this.isManager) {
              <div ngbAccordionItem [collapsed]="false" [disabled]="group.players.length == 0">
                <h2 ngbAccordionHeader>
                  <button ngbAccordionButton>
                    <div>
                      <div><b>{{ group.name }}</b></div>
                      <div class="text-muted mt-1" style="font-style: italic">
                        @if (group.availableSlots != this.INFINITY) {
                          {{ group.players.length }} {{ group.players.length != 1 ? 'Anmeldungen' : 'Anmeldung' }}, {{ group.availableSlots }} {{ group.availableSlots != 1 ? 'freie Plätze' : 'freier Platz' }}
                        } @else {
                          {{ group.players.length }} {{ group.players.length != 1 ? 'Anmeldungen' : 'Anmeldung' }}
                        }
                      </div>
                    </div>
                  </button>
                </h2>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                    <ng-template>
                      @if (group.players.length) {
                        <h5 class="mb-3" style="padding-left: 5px">{{ group.name }}</h5>
                        <nsv-table [options]="overviewTableOptions" [data]="group.players"></nsv-table>
                      }
                    </ng-template>
                  </div>
                </div>
              </div>
            }
          }
        </div>
        <div class="mt-3 text-muted">
          Anmeldungen insgesamt: {{ tournament.players.length - tournament.waitlist.length }}
        </div>
      }
		</ng-template>
	</li>
  <li [ngbNavItem]="2">
		<button ngbNavLink>Warteliste</button>
		<ng-template ngbNavContent>
      @if (tournament.waitlist.length) {
        <nsv-table [options]="waitlistTableOptions" [data]="tournament.waitlist"></nsv-table>
      } @else {
        <div class="alert alert-success mt-3">
          Keine Anmeldungen auf der Warteliste
        </div>
      }
		</ng-template>
	</li>
	<li [ngbNavItem]="3">
		<button ngbNavLink>Details</button>
		<ng-template ngbNavContent>
      <nsv-table [options]="tableOptions" [data]="tournament.players"></nsv-table>
    </ng-template>
  </li>
	<li [ngbNavItem]="4">
		<button ngbNavLink>Swiss-Chess</button>
		<ng-template ngbNavContent>
      <swiss-chess-export [tournament]="tournament"></swiss-chess-export>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="tabs" class="mt-3"></div>

<ng-template #playerName let-player="row">
  <b>{{ player.playerData.fideTitle }}</b>
  {{ player.playerData.name }}
</ng-template>

<ng-template #playerActions let-player="row">
  @if (isManager) {
    @if (activeTab == 2) {
      <span (click)="confirmWaitlistPlayer(player)" class="dashicons dashicons-yes-alt" role="button"></span>
    }
    <span (click)="editPlayer(player)" class="dashicons dashicons-edit" role="button"></span>
    <span (click)="deletePlayer(player)" class="dashicons dashicons-trash" role="button"></span>
  }
</ng-template>
