<p>
  @for (link of tournament.config.links | keyvalue; track link.key; let i = $index) {
    @if (i > 0) {
      |
    }
    <a href="{{ link.value }}">{{ link.key }}</a>
  }
</p>

<div>
  <!-- Tooltip on a span as disabled buttons don't support tooltips. -->
  <span [ngbTooltip]="tournament!.deadlinePassed ? 'Anmeldeschluss verstrichen' : null" placement="bottom">
    <button (click)="openRegistration()" [disabled]="tournament!.deadlinePassed" type="button" class="btn btn-primary">
      <span class="dashicons dashicons-plus" style="vertical-align: bottom"></span>
      Anmelden
    </button>
  </span>
</div>

@for (player of registeredPlayers; track $index) {
  <div class="alert alert-success mt-3">
    {{player.playerData.name}} wurde angemeldet
  </div>
}

<ul ngbNav #tabs="ngbNav" [(activeId)]="activeTab" class="nav-tabs mt-4" [class.d-none]="!isManager">
	<li [ngbNavItem]="1">
		<button ngbNavLink>Anmeldungen</button>
		<ng-template ngbNavContent>
      @for (group of tournament!.groups.values(); track group.id) {
        @if (!group.config.hidden || this.isManager) {
          <h4 class="mt-4">{{group.name}}</h4>

          <div class="text-muted mb-2" style="font-style: italic">
            @if (group.availableSlots != this.INFINITY) {
              {{ group.players.length }} {{ group.players.length != 1 ? 'Anmeldungen' : 'Anmeldung' }}, {{ group.availableSlots }} {{ group.availableSlots != 1 ? 'freie Plätze' : 'freier Platz' }}
            } @else {
              {{ group.players.length }} {{ group.players.length != 1 ? 'Anmeldungen' : 'Anmeldung' }}
            }
          </div>

          @if (group.players.length) {
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Verein</th>
                  <th>DWZ</th>
                  <th>ELO</th>
                  @if (isManager) {
                    <th></th>
                  }
                </tr>
              </thead>
              <tbody>
                @for (player of group.players; track player.id) {
                  <tr>
                    <td>
                      <b>{{ player.playerData.fideTitle }}</b>
                      {{ player.playerData.name }}
                    </td>
                    <td>{{ player.playerData.club }}</td>
                    <td>{{ player.playerData.dwz }}</td>
                    <td>{{ player.playerData.elo }}</td>
                    @if (isManager) {
                      <td class="text-end">
                        <span (click)="editPlayer(player)" class="dashicons dashicons-edit" role="button"></span>
                        <span (click)="deletePlayer(player)" class="dashicons dashicons-trash" role="button"></span>
                      </td>
                    }
                  </tr>
                }
              </tbody>
            </table>
          }
        }
      }

      <div class="mt-3 text-muted">
        Anmeldungen insgesamt: {{ tournament.players.length }}
      </div>

		</ng-template>
	</li>
	<li [ngbNavItem]="2">
		<button ngbNavLink>Warteliste</button>
		<ng-template ngbNavContent>
      @if (tournament.waitlist.length) {
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Datum</th>
              <th>Turnier</th>
              <th>Name</th>
              <th>Verein</th>
              <th>DWZ</th>
              <th>ELO</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for (player of tournament.waitlist; track player.id) {
              <tr>
                <td>{{ player.created }}</td>
                <td>{{ player.group }}</td>
                <td>
                  <b>{{ player.playerData.fideTitle }}</b>
                  {{ player.playerData.name }}
                </td>
                <td>{{ player.playerData.club }}</td>
                <td>{{ player.playerData.dwz }}</td>
                <td>{{ player.playerData.elo }}</td>
                <td class="text-end" style="min-width: 75px">
                  <span (click)="confirmWaitlistPlayer(player)" class="dashicons dashicons-yes-alt" role="button"></span>
                  <span (click)="editPlayer(player)" class="dashicons dashicons-edit" role="button"></span>
                  <span (click)="deletePlayer(player)" class="dashicons dashicons-trash" role="button"></span>
                </td>
              </tr>
            }
          </tbody>
        </table>
      } @else {
        <div class="alert alert-success mt-3">
          Keine Anmeldungen auf der Warteliste
        </div>
      }
		</ng-template>
	</li>
</ul>

<div [ngbNavOutlet]="tabs" class="mt-3"></div>
