<div class="modal-footer">
  @for (message of dialog.errors?.errorMessages; track $index) {
    <div class="alert alert-danger w-100" role="alert">{{ message }}</div>
  }
  <button type="button" class="btn btn-secondary" (click)="dialog.modal.dismiss()">Abbrechen</button>
  <button type="button" class="btn btn-primary" (click)="dialog.saveDialog()" [disabled]="!dialog.isValid || dialog.isSaving">
    @if (dialog.isSaving) {
      <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
    }
    {{ saveButtonLabel || 'Speichern' }}
  </button>
</div>
