RewriteEngine On

# Weiterleitung auf HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE] 

# Udo...
RewriteRule ^frl/anmelden.html /ligen/frl/?m=anmeldung [R]

# Sonderbehandlungen für Spezielle URLs
RewriteRule ^([A-Za-z0-9\-]+)/Rundschreiben/([0-9]*)/Runde([0-9]*).pdf /ligen/$1/?staffel=$2&r=$3&ausgabe=pdf [R,L]
RewriteRule ^([A-Za-z0-9\-]+)/anmeldung.html /ligen/$1/?m=anmeldung [R]

# Das Wichtigste
RewriteRule ^([A-Za-z0-9\-]+)$ /ligen/$1/ [R]
RewriteRule ^([A-Za-z0-9\-]+)/ /wordpress/index.php [L]
RewriteRule ^$  /wordpress/index.php [L]
RewriteRule ^/$ /wordpress/index.php [L]
