RewriteEngine On

# Weiterleitung auf HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE] 

# Udo...
RewriteRule ^frl/anmelden.html /ligen/frl/?m=anmeldung [R]

# Saisonunabhaengig
RewriteRule ^bezirk1/ /ligen/bezirk1-2324/ [R] [QSA]
RewriteRule ^bezirk2/ /ligen/bezirk2-2324/ [R] [QSA]
RewriteRule ^bezirk3/ /ligen/bezirk3-2324/ [R] [QSA]
RewriteRule ^bezirk6/ /ligen/bezirk6-2324/ [R] [QSA]
RewriteRule ^jbln/ /ligen/jbln-2324/ [R] [QSA]
RewriteRule ^nsj/ /ligen/nsj-2324/ [R] [QSA]
RewriteRule ^pokal/ /ligen/pokal-2324/ [R] [QSA]
RewriteRule ^nsv/ /ligen/nsv-2324/ [R] [QSA]
RewriteRule ^fll/ /ligen/fll-2324/ [R] [QSA]
RewriteRule ^fbl/ /ligen/fbl-1819/ [R] [QSA]
RewriteRule ^frl/ /ligen/frl-2122/ [R] [QSA]

# Kein Turnier angegeben
RewriteRule ^$ /ligen/index.php?m=serverinfo
RewriteRule ^/$ /ligen/index.php?m=serverinfo

# Sonderbehandlungen für Spezielle URLs
RewriteRule ^([A-Za-z0-9\-]+)/Rundschreiben/([0-9]*)/Runde([0-9]*).pdf /ligen/index.php?dir=$1&staffel=$2&r=$3&ausgabe=pdf [L]
RewriteRule ^([A-Za-z0-9\-]+)/anmeldung.html /ligen/$1/?m=anmeldung [R]

# TINYURL
RewriteRule ^([0-9])/([a-z0-9]+)$ /ligen/index.php?m=tinyurl&type=$1&p1=$2 [L]
RewriteRule ^([0-9])/([a-z0-9]+)-([a-z0-9]+)$ /ligen/index.php?m=tinyurl&type=$1&p1=$2&p2=$3 [L]
RewriteRule ^([0-9])/([a-z0-9]+)-([a-z0-9]+)-([a-z0-9]+)$ /ligen/index.php?m=tinyurl&type=$1&p1=$2&p2=$3&p3=$4 [L]

# Das Wichtigste
RewriteRule ^([A-Za-z0-9\-]+)$ /ligen/$1/ [R]
#RewriteRule ^([A-Za-z0-9\-]+)/ /ligen/index.php?dir=$1 [QSA] [L]
RewriteRule ^([A-Za-z0-9\-]+)/ /wordpress/index.php [L]
