# TODO: These files should be added to the repository
public/wordpress/

# TODO: The following files are legacy code and should be rewritten rather than added to the repo
public/anmeldung/
public/bezirke/
public/core/apps/
public/core/modules/
public/core/templates/
public/core/*.php
public/grandprix/
public/termine/
public/turniere/
public/verband/

# Files that should actually be excluded
public/cache/
public/downloads/
public/images/
public/ligen/config.inc.php
public/ligen/_test/swi/*.swi
public/schachzeitung/

public/.user.ini
public/cronjob_*
public/goto.php

# Don't want to share VS Code settings as I disable git when mounting with sshfs :)
.vscode

