<form>
  <!-- Name selection with DWZ database backing -->
  <ng-template #rt let-player="result" let-t="term">
    <ngb-highlight [result]="player.name" [term]="t"></ngb-highlight>
    <i>&nbsp;({{player.data ? player.data.club : 'Nicht in Mitgliederdatenbank'}})</i>
  </ng-template>
  <div class="form-floating">
    <input
      ngbAutofocus
      id="typeahead-template"
      type="text"
      class="form-control"
      [class.is-valid]="selectedPlayer.value && selectedPlayer.value.data"
      [formControl]="selectedPlayer"
      [ngbTypeahead]="search"
      [resultTemplate]="rt"
      [inputFormatter]="formatter"
      [editable]="false"
    />
    <label for="typeahead-template">Nachname, Vorname</label>
    <div class="valid-feedback">
      Teilnehmer:in aus Mitgliederdatenbank ausgewählt
    </div>
    @if (selectedPlayer.value && !selectedPlayer.value.data) {
      <div class="warning-feedback">
        Teilnehmer:in nicht in Mitgliederdatenbank
      </div>
    }
  </div>
<form [formGroup]="form">
  <div class="form-floating">
    <!-- TODO: Typeahead -->
    <input
      formControlName="club"
      id="club"
      type="text"
      class="form-control mt-3">
    <label for="floatingInput">Verein</label>
  </div>

  <div class="row">
    @for (control of controlOptions; track control.id) {
      <div class="col-6">
        <div class="form-floating">
          <input
            [formControlName]="control.id"
            [id]="control.id"
            type="text"
            class="form-control mt-3">
          <label [for]="control.id">{{control.label}}</label>
        </div>
      </div>
    }
  </div>
</form>

<pre>
  selectedPlayer: {{selectedPlayer.value | json}}
  form: {{form.value | json}}
</pre>
