RewriteEngine On
RewriteBase /

# Weiterleitung auf HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE] 

# Weiterleitungen
RewriteRule ^bezirke/Websites.php$ /vereine [R,L]
RewriteRule ^bezirke/([A-Za-z]*)$ /vereine [R,L]
RewriteRule ^core/apps/kontakt/?$ /kontakt/ [R,L]
RewriteRule ^cutenews/data/upimages/(.*)$ downloads/cutenews/$1 [R,L]
RewriteRule ^goto/(.*)$ /goto.php?goto=$1 [QSA,L]
RewriteRule ^grandprix/$ /nsv-grandprix/ [R,L]
RewriteRule ^grandprix/anmeldung/$ /nsv-grandprix/ [R,L]
RewriteRule ^jugend/ https://nsj-online.de/ [R,L]
RewriteRule ^LEM/?$ /anmeldung/lem/ [R,L,NC]
RewriteRule ^senioren/ http://nds-schachsenioren.de/ [R,L]
RewriteRule ^turniere/Bezirk-Hannover-Open-20([0-9]+) /turniere/bezirk-hannover-open/20$1/ [R,L]
RewriteRule ^turniere/Bezirk-Hannover-BDP-2022 /turniere/bezirk-hannover-bdp/2022/ [R,L]
RewriteRule ^turniere/deutschland-cup/ergebnisse /turniere/deutschland-cup/2008/ [R,L]
RewriteRule ^turniere/ems-vechta-cup-2017[AB] /turniere/ems-vechte-cup/2017/ [R,L]
RewriteRule ^turniere/lem20([0-9]+) /turniere/lem/20$1/ [R,L]
RewriteRule ^turniere/ljem2015 /turniere/ljem/2015/ [R,L]
RewriteRule ^turniere/NSVOM2020 /nsvom2020 [R,L]
RewriteRule ^turniere/([a-z0-9-]+)-([0-9]+) /turniere/$1/$2/ [R,L]
RewriteRule ^verband/Ehrengericht.html /ehrengericht/ [R,L]
RewriteRule ^verband/Impressum.html /impressum/ [R,L]
RewriteRule ^verband/Ligenuebersicht.php /alle-ligen/ [R,L]
RewriteRule ^verband/NSV.html /nsv/ [R,L]
RewriteRule ^verband/Ordnungen.html /ordnungen/ [R,L]
RewriteRule ^verband/Turniergericht.html /turniergericht/ [R,L]
RewriteRule ^verband/Vorstand.html /vorstand/ [R,L]
RewriteRule ^vereine/70([0-9]*)$ /vereine [R,L]

# WordPress
# Bis auf existierende Dateien und Order wird alles von WP verarbeitet!
RewriteRule ^wp-(.*)$ /wordpress/wp-$1 [L]
RewriteRule ^xmlrpc.php$ /wordpress/xmlrpc.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wordpress/index.php [L,NC]
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^(.*)$ /wordpress/index.php [L]

# Circumvent Domainfactory's NGINX cache (Browsers ignore s-maxage)
Header always set Cache-Control "s-maxage=0"
