{% extends 'layout.html.twig' %}

{% set title = "Seite nicht gefunden" %}
{% set hide_sidebar = true %}

{% block content %}
<div class="alert alert-danger" role="alert">
    Fehler 404: Der Link zu dieser Seite war leider ungültig.
</div>
{% endblock %}
