<form [formGroup]="form">
  <div class="row">
    @for (id of visibleControls; track id) {
      @let control = form.controls[id];
      <div class="{{colClass}}">
        <div class="form-floating">
          <input
            [formControlName]="id"
            id="nsv-form-{{id}}"
            type="text"
            class="form-control mt-3"
              >
          <label for="nsv-form-{{id}}">{{control.label}}</label>
<!--
          @if (validationErrors && validationErrors['playerData.' + control]) {
            @for (error of validationErrors['playerData.' + control]; track $index) {
              <div class="invalid-feedback">{{error.message}}</div>
            }
          }
            -->
        </div>
      </div>
    }
  </div>
</form>
