@if (options().showColumnSelection) {
  <div class="mb-2 text-end">
    <div ngbDropdown autoClose="outside" class="d-inline-block">
      <button ngbDropdownToggle type="button" class="btn btn-primary btn-sm">
        <span class="dashicons dashicons-admin-settings" style="vertical-align: bottom"></span>
        Spalten
      </button>
      <div ngbDropdownMenu>
        @for (column of options().columns; track column.id) {
          @if (column.visibility !== 'always' && column.visibility !== 'never') {
            <button ngbDropdownItem (click)="toggleColumnVisibility(column)">
              <span style="min-width: 16px; display: inline-block">
                @if (isColumnVisible(column)) {
                  ✓
                }
              </span>
              {{ column.label }}
            </button>
          }
        }
      </div>
    </div>
  </div>
}

<table class="table table-striped">
  <thead>
    <tr>
      @for (column of visibleColumns(); track column.id) {
        <th [class.sortable]="column.sortable !== false" (click)="onHeaderClick(column)">
          {{ column.label }}
          @if (sortColumn() == column.id) {
            <span class="sort-indicator">
              @if (sortDirection() == 'asc') {
                ▼
              } @else {
                ▲
              }
            </span>
          }
        </th>
      }
    </tr>
  </thead>
  <tbody>
    @for (row of sortedData(); track options().idFn(row)) {
      <tr>
        @for (column of visibleColumns(); track column.id) {
          <td>
            @if (column.templateRef) {
              <ng-container [ngTemplateOutlet]="column.templateRef()" [ngTemplateOutletContext]="{ row: row }"></ng-container>
            } @else {
              {{ getValue(row, column) }}
            }
          </td>
        }
      </tr>
    }
  </tbody>
</table>
