<table class="table table-striped">
  <thead>
    <tr>
      @for (column of options().columns; track column.id) {
        <th
          [class.sortable]="column.sortable !== false"
          (click)="onHeaderClick(column)"
        >
          {{ column.label }}
          @if (column.sortable !== false) {
            <span class="sort-indicator">
              @if (sortColumn() == column.id) {
                @if (sortDirection() == 'asc') {
                  ▼
                } @else {
                  ▲
                }
              }
            </span>
          }
        </th>
      }
    </tr>
  </thead>
  <tbody>
    @for (row of sortedData(); track options().idFn(row)) {
      <tr>
        @for (column of options().columns; track column.id) {
          <td>
            @if (column.templateRef) {
              <ng-container [ngTemplateOutlet]="column.templateRef()" [ngTemplateOutletContext]="{ row: row }"></ng-container>
            } @else {
              {{ getValue(row, column) }}
            }
          </td>
        }
      </tr>
    }
  </tbody>
</table>
