body {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
  margin-top: 2rem !important;
}

h1, h2, h3, h4 {
  margin: auto;
  max-width: 1400px;
  margin-bottom: 1em;
}

table.nsv-table {
  border-collapse: collapse;

  max-width: 1400px;
  margin: auto;
}

.nsv-table {
  margin: 1px 0 0 1px; /* fix border collapse hack */
}

.nsv-table td,
.nsv-table th,
.nsv-table .nsv-table-header,
.nsv-table .nsv-table-cell {
  border: 1px solid black;
  margin: -1px 0 0 -1px; /* collapse borders */
  padding: 15px 10px;
  text-align: center;
  line-height: 1.5;
}

.nsv-table td.query {
  text-align: left;

}

.nsv-table th,
.nsv-table .nsv-table-header {
  background: linear-gradient(0deg, #c32811, #e15b58);
  color: white;
  font-weight: bold;
}

.nsv-table a {
  color: black;
}

.nsv-table a:hover {
  color: #c32811;
  text-decoration: none;
}

.nsv-table th a,
.nsv-table th a:hover,
.nsv-table .nsv-table-header a,
.nsv-table .nsv-table-header a:hover {
  color: white;
}

.nsv-table.borders-bold th {
  border-bottom-width: 2px;
}

.nsv-table.borders-bold .border-left-bold {
  border-left-width: 2px;
}

.nsv-table.borders-bold .border-right-bold {
  border-right-width: 2px;
}

.nsv-table-footer {
  margin-top: -1rem !important;
}

@media print {
  .nsv-table th,
  .nsv-table .nsv-table-header {
    /* !important to stop nsv-blue from overriding */
    background: #ddd !important;
    color: black !important;
  }

  .nsv-table th a,
  .nsv-table .nsv-table-header a {
    /* !important to stop nsv-blue from overriding */
    color: black !important;
    text-decoration: none !important;
  }

  .nsv-table a:not(button) {
    /* Override Bootstrap's CSS for printing. */
    text-decoration: none;
  }
}