{% extends '@league/legacy-layout.html.twig' %}
{% import "macros.html.twig" as nsv %}
{% set title = 'Statistiken ' ~ home %}

{% block content %}
    <p>
        Statistiken f&uuml;r {{ home }}
    </p>

{% endblock %}