{% extends '@league/legacy-layout.html.twig' %}
{% import "macros.html.twig" as nsv %}
{% set title = 'Statistiken für ' division %}

{% block content %}
    <p>
        Statistiken für {{ division }}
    </p>

{% endblock %}