<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Anmeldung</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body">
  <player-data class="mb-4"
    (onPlayerDataChange)="onPlayerDataChange($event)"
    [initialPlayerData]="params.player?.playerData"
    [restrictEditing]="!params.isManager"
    [preferredZps]="params.lastPlayer?.playerData?.zps"
    [validationErrors]="errors?.validationErrors"
  ></player-data>

  <form [formGroup]="formData" class="mt-4" (keyup.enter)="save()">
    @for (group of params.tournament.groups.values(); track group.id) {
      <div class="form-check">
        <input
          type="radio"
          id="tournamentRadio-{{group.id}}"
          name="group"
          formControlName="group"
          [value]="group.id"
          [attr.disabled]="!this.params.isManager && (!this.playerData || !group.mayRegister(this.playerData)) || null"
          class="form-check-input"
          required>
        <label class="form-check-label" for="tournamentRadio-{{group.id}}">
          {{group.name}}
          @if (group.maxPlayersReached) {
            <span style="font-size: smaller">— Anmeldegrenze erreicht</span>
          }
        </label>
      </div>
    }
  </form>

  <nsv-form [form]="contactDetails" [validationErrors]="errors?.validationErrors" validationErrorPrefix="contactDetails." (keyup.enter)="save()"></nsv-form>
</div>
<nsv-dialog-footer [dialog]="this"></nsv-dialog-footer>
