<!-- TODO: Consider using a dialog helper rather than duplicating this. -->
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Anmeldung</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <player-data class="mb-4" [lastPlayer]="params.lastPlayer" [validationErrors]="errors?.validationErrors" (onPlayerDataChange)="playerData = $event"></player-data>

  <form class="mt-4">
    @for (group of params.config.groups.values(); track group.id) {
      <div class="form-check">
        <input
          type="radio"
          class="form-check-input"
          id="tournamentRadio-{{group.id}}"
          name="radio-stacked"
          [disabled]="isGroupDisabled(group.id)"
          required>
        <label class="form-check-label" for="tournamentRadio-{{group.id}}">{{group.name}}</label>
      </div>
    }
  </form>

  <nsv-form [form]="contactDetails" [validationErrors]="errors?.validationErrors" validationErrorPrefix="contactDetails."></nsv-form>
</div>
<div class="modal-footer">
  @for (message of errors?.errorMessages; track $index) {
    <div class="alert alert-danger w-100" role="alert">{{ message }}</div>
  }
  <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!isValid">Speichern</button>
</div>
